
html, body {
  touch-action: manipulation;
}

button, .emoji {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: arial;
}
.cont {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.7fr 1fr;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.title {
  display: block;
}
.rock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.emoji {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  height: fit-content;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 50%;

  font-size: 200px;
  cursor: pointer;
}
.rest-button {
  background-color: rgba(25, 25, 25, 0);
  border: 2px solid white;
  height: 50px;
  width: 120px;
  color: white;
  font-weight: bold;

  cursor: pointer;
}
.rest-div {
  display: flex;
  justify-content: center;
}

